
<!DOCTYPE html>
<html>

<head>
    <title>Page de connexion</title>
</head>

<body>
    <h1>ADD Students</h1>
    <form action="/login" method="post">
        <label>Name</label>
        <input type="text" name="name" placeholder="Name">
        <label>School</label>
        <input type="text" name="school" placeholder="School">
        <input type="submit" value="Submit">
    </form>

    <!-- Lien pour une autre page -->

    <!-- Inclure ici vos scripts et styles si nécessaire -->
</body>

</html>
