<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Accueil</title>
    <link rel="stylesheet" href="home.css">
</head> 

<body>
    <header>
        
        <img src="epf+hotel.gif">
        <nav>
                <!-- <ul>
                    <li><a href="#">Accueil</a></li>
                    <li><a href="#">À Propos</a></li>
                    <li><a href="#">Services</a></li>
                    <li><a href="#">Contact</a></li>
                </ul> -->
            </nav>
        </header>

    <section class="hero">
        <h2>Bienvenue sur EPF HOTEL</h2>
        <p>Découvrez les ingénieurs les plus prometteurs de France !</p>
        <a href="register" class="btn">Les découvrir !</a>
    </section>

    <footer>
        <p>&copy; 2024 EPF HOTEL. Tous droits réservés.</p>
    </footer>
</body>

</html>