<!DOCTYPE html>
<html>

<head>
    <title>Page de connexion</title>
    <link rel="stylesheet"  href="login.css">
</head>

<body>
    <h1>LOGIN</h1>
    <form action="/login" method="post">
        <label>ID</label>
        <input type="text" name="name" placeholder="Name">
        <label>MDP</label>
        <input type="password" name="password" placeholder="Password">
        <input type="submit" value="Submit">
    </form>

    <!-- Lien pour une autre page -->
    <a href="signup">Create an account</a>

    <!-- Inclure ici vos scripts et styles si nécessaire -->
</body>

</html>
