<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>S'enregistrer</title>
    <link rel="stylesheet" href="signup.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
</head>

<body>
    <div class="wrapper">
        <header>Créer un compte</header>
        <form action="/register" method="post">
            <div class="field email">
                <div class="input-area">
                    <input type="text" placeholder="Ton nom" name="name">
                    <i class="icon fas fa-envelope"></i>
                </div>
            </div>
            <div class="field password">
                <div class="input-area">
                    <input type="password" placeholder="Mot de passe" name="password">
                    <i class="icon fas fa-lock"></i>
                </div>
            </div>
            <input type="submit" value="Valider">
        </form>
        <div class="sign-txt">Déjà un compte ?<a href="students"> Connectez-vous maintenant</a></div>
    </div>


</body>

</html>